 body {
    background: var(--lightpink);
    font-family:var(--font-one);       
}

.devonPicture {
    width:30%;
    height:30%;
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 150px;
    display:inline-block;
}

.img2 {
    height:100vh;
    width:100%;
    background-image:url(../assets/portfolio-2.jpg);
    background-size:cover;
    background-position: center;
    display:table;
    background-attachment:fixed;
}

.img3 {
    height:100vh;
    width:100%;
    background-image:url(../assets/portfolio-5.jpg);
    background-size:cover;
    background-position: center;
    display:table;
    background-attachment:fixed;
}

.img4 {
    height:100vh;
    width:100%;
    background-image:url(../assets/portfolio-3.jpg);
    background-size:cover;
    background-position: center;
    display:table;
    background-attachment:fixed;
}
.img5 {
    height:100vh;
    width:100%;
    background-image:url(../assets/portfolio-10.jpg);
    background-size:cover;
    background-position: center;
    display:table;
    background-attachment:fixed;
}

.portfolio {
    padding:25px;
}


.button {
    display:flex;
    justify-content:center;
    align-items:center;
    font-family:var(--fontOne);
    margin: 70px;
    border: 5px solid white;
    border-style:groove;
    font-size:150%;
}