 body {
    background: var(--lightpink);
    font-family:var(--font-one);       
}

.row #navbar {
    display:flex;
    justify-content:flex-end;
}

.navbar-brand {
    font-size:1rem;
}

.container{
    margin:0px;
    display:inline-block;
    align-items:center;
    align-self: center;
}

.devonPicture {
    width:30%;
    height:30%;
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 150px;
    display:inline-block;
}

.img2 {
    height:75vh;
    width:100%;
    background-image:url(../assets/portfolio-2.jpg);
    background-size:cover;
    background-position: center;
    display:table;
    background-attachment:fixed;
}

.img3 {
    height:75vh;
    width:100%;
    background-image:url(../assets/portfolio-5.jpg);
    background-size:cover;
    background-position: center;
    display:table;
    background-attachment:fixed;
}

.img4 {
    height:75vh;
    width:100%;
    background-image:url(../assets/portfolio-3.jpg);
    background-size:cover;
    background-position: center;
    display:table;
    background-attachment:fixed;
}
.img5 {
    height:75vh;
    width:100%;
    background-image:url(../assets/portfolio-10.jpg);
    background-size:cover;
    background-position: center;
    display:table;
    background-attachment:fixed;
}

#aboutMe {
    display:flex;
    justify-content: center;
}

.row {
    justify-items: space-between;
}

#icons {
    padding:20px;
    display:flex;
    justify-content:flex-end;
    flex-wrap:nowrap;
}


.camera {
    display:flex;
    justify-content:space-between;
    height:30%;
    width:30%;
}

.world {
    display:flex;
    justify-content:space-between;
    height:30%;
    width:30%;
    
}

.hike {
    display:flex;
    justify-content:space-between;
    height:30%;
    width:30%;
}

.music {
    display:flex;
    justify-content:space-between;
    height:80%;
    width:30%;
    
}

.portfolio {
    padding:25px;
}


.button {
    display:flex;
    justify-content:center;
    align-items:center;
    font-family:var(--fontOne);
    margin: 70px;
    border: 5px solid white;
    border-style:groove;
    font-size:150%;
}

