.container {
    display:flex;
    justify-content: center;
    align-items:center;
    display:inline-block;
}
.text-center {
    color:white;
    display:flex;
    justify-content: center;
    align-items:center;
}

.btn {
    color:white;
}

#form {
    width:100%;
    margin:auto;
}


