h1 {
    color:white;
    text-align:center;
}


.figure-caption {
    text-align:center;
    color:white;
}

.card mb-3 {
    background-color:pink; 
}

.card-body {
    background-color: var(--lightpink); 
    background-image: url('../assets/asfalt-light.png');
    
}

.card-title {
    color:white; 
    justify-content: center;
    text-align:center;  
}

.card {
    border:none;
}

.recipe {
    width:5%;
    height:5%;
}

#creature, #repl, #static,#red, #blue, #recipe {
    opacity:1;
}

 #recipe:hover {
    opacity: 0.6;
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;opacity: 0.6}

#repl:hover {
    opacity: 0.6;
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;opacity: 0.6}

#static:hover {
    opacity: 0.6;
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;opacity: 0.6}

#creature:hover {
    opacity: 0.6;
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;opacity: 0.6}

#red:hover {
    opacity: 0.6;
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;opacity: 0.6}

#blue:hover {
 opacity: 0.6;
transition: 0.3s;
text-decoration: none;
cursor: pointer;opacity: 0.6}

#pHeading {
    font-family: 'Liu Jian Mao Cao', cursive;
    font-size:350%;
}