:root {
    --blue: #283c63;
    --lightBlue:#3B4D71;
    --pink: #f85f73;
    --grey: #928a97;
    --darkgrey:#363337;
    --tan: #fbe8d3; 
    --sand:#B7A99A;
    --lightpink:#FBA7B2;

    --font-one:'Libre Baskerville';serif;
    --font-two:'Montserrat';sans-serif;

}